body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#f4f6f9;
}

.header{
background:#0F766E;
color:white;
padding:25px;
text-align:center;
}

.search-box{
padding:20px;
}

#searchInput{
width:100%;
padding:14px;
font-size:18px;
border-radius:10px;
border:1px solid #ccc;
box-sizing:border-box;
}

.card{
background:white;
margin:20px;
padding:20px;
border-radius:15px;
box-shadow:0 2px 10px rgba(0,0,0,.1);
}

.green{
background:#d1fae5;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.red{
background:#fee2e2;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.blue{
background:#dbeafe;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.orange{
background:#ffedd5;
padding:10px;
border-radius:10px;
margin-top:10px;
}

.purple{
background:#ede9fe;
padding:10px;
border-radius:10px;
margin-top:10px;
}
